<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://cdn.glitch.global/a9f1346a-6e5a-4bc5-b9f2-0750760636ea/radiocosmica-logo-mini.png?v=1658782202763" />

    <title>Radio Cósmica Libre - Blog</title>

    <!-- Meta tags for SEO and social sharing -->
    <link rel="canonical" href="" />
    <meta
      name="description"
      content="Radio Cósmica Blog"
    />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="Radio Cósmica Libre - Blog" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="" />
    <meta
      property="og:description"
      content="Radio Cósmica Libre"
    />
    <meta
      property="og:image"
      content="https://cdn.glitch.global/a9f1346a-6e5a-4bc5-b9f2-0750760636ea/bg%20blog2.jpg?v=1658781378813"
    />
    <meta name="twitter:card" content="summary" />

    <link rel="stylesheet" href="hover.css" />
    <link rel="stylesheet" href="style.css" />

  </head>
  <body>


    <div class="wrapper">
      <div class="content" role="main">
        <a href="/" data-navigo><img src="https://cdn.glitch.global/a9f1346a-6e5a-4bc5-b9f2-0750760636ea/bg-logo.png?v=1658783919500" loading="lazy"></a>
        <div class="inicio">
          <template id="inicio-template">
          <a href="/" data-navigo><img src="{{cells.imgURL}}" loading="lazy"></a>
            </template>
        </div>
        <!-----Blog Display------->
        <div class="">
          <div class="bottom">
            
            <div id="cuadernos" class="cuadernos dinamicos">
              <br>
              <template id="cuadernos-template">
                <a href="#/cuadernos/cuaderno?{{cells.id}}" data-navigo>
                  <div class="blanco redondear hvr-shrink">
                    <img
                      loading="lazy"
                      class=""
                      src="{{{cells.portadaURL}}}"
                      alt=""
                    />
                    <div class="p20">{{{cells.titulo}}}</div>
                  </div></a
                >
              </template>
            </div>
          </div>
        </div>

        <!-----Blog Content------->
        <div class="">
          
          <div class="bottom">
            <div id="cuadernoContenido" class=" dinamicos">
              <template id="tituloCuaderno-template"></template>
              <template id="cuadernoContenido-template">
                <h1 class="black-text center blanco p20">{{{cells.titulo}}}</h1>
               
                <div class="blanco p10 center tarjetaAutora">
                  <img
                      loading="lazy"
                      class="imgAutora"
                      src="{{cells.imgAutorxURL}}"
                    />
                  <pre> </pre> 
                    <span>Escrito por: {{cells.autorx}}</span>
                    <pre> - </pre> <span class="programa"> {{cells.programa}}</span>
                </div>
                <br>
                <div class="cuadernoContenido white-text">
                <img
                  class="margenes redondear portadaCuaderno"
                  loading="lazy"
                  src="{{{cells.portadaURL}}}"
                  alt="{{{cells.titulo}}}"
                  onerror="this.style.display = 'none'"
                />
                <div class="textoCuaderno">
                  
                  <div>
                    <span class="botonCategoria">{{cells.categoria}}</span
                    ><br /><br />
                  </div>

                  <div class="blanco black-text p20">
                    <div class="textoRojo">
                    <i>{{cells.fecha}}</i>
                      <br><br>
                  </div>
                    <div class="parrafos ">
                      {{{cells.parrafos}}}
                      
                    </div>
                    
                  </div>

                  <div class="tarjetaAutora">
                    
                  </div>
                  
                </div>
                    
                  </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- The footer holds our remix button — you can use it for structure or cut it out ✂ -->
    <footer class="footer">
      <div class="center white-text">
            Radio Cósmica Libre - <span id="year">2022</span>
          </div>
    </footer>
     <!--Dependencias del sitio web-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sheetrock/1.1.4/dist/sheetrock.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.2/handlebars.min.js"></script>
  <script src="//unpkg.com/navigo"></script>
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
  <script src="router.js"></script>
  <script src="script.js"></script>
  </body>
</html>
