body {
  background: black;

	font-family: "Roboto","Helvetica Neue","Noto Sans",sans-serif;
	line-height: 1.5;
	text-align: left;
  /*background-image: url("https://cdn.glitch.global/a9f1346a-6e5a-4bc5-b9f2-0750760636ea/stars-bg.jpg?v=1658780784644");
  background-repeat: repeat;*/
}

img {
  width:100%;
}

button {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
}

.redondear {
  border-radius: 7px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.textoRojo {
  color: #953636 !important;
}

.texto-blanco {
  color: white !important;
}

a {
  text-decoration: none;
  color: black !important;
  /*margin:2px;*/
}

.titulos:empty {
  display: none;
}

.blanco {
  background: white;
}

.p20 {
  padding:20px;
}

.p10 {
  padding:10px;
}


.center {
  text-align: center;
}

.celeste {
  background:#94e4ef;
}

.parrafos {

	margin-right: 10px;
}

@media screen and (max-width: 600px) {
  .parrafos {
    margin: 10px;
  }
}

.dinamicos:empty {
  margin: 0px;
}


.subtitulosSecciones{
  /*font-family: 'Shadows Into Light', cursive;*/
}

.subtitulosSecciones:empty {
  display: none;
}


.titulosSecciones:empty {
  display: none;
}


#footer {
  bottom: 10px;
position: fixed;
left: 50%;
transform: translate(-50%, -50%);
}

.bottom {
  margin-bottom: 30px;
}


/* cuadernos */



.cuadernos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
  grid-gap: 2em;
  margin: 10px;
}

.cuadernos:empty {
  margin: 0;
}

/*.portadaCuaderno {
  margin: 10px 20px;
  width: 90%;
} */

.cuadernoContenido {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
  grid-gap: 2em;
  
}

.botonCategoria {
  color: white !important;
  background: #953636;
  padding: 10px;

  border-radius: 5px;
}

.titulo-tarjeta{
    
}

.imgAutora {
  /*border-radius: 50%;*/
  max-width: 30px;
  float: left;
  margin-left:10px;
  
}

.programa{
  float:right;
}

.tarjetaAutora {
  display: flex;
  justify-content: left;
  align-items: center;
}
  
  .white-text{
    color:white!important;
  }
  
  
  .black-text{
    color:black!important;
  }